$white-20: rgba(255,255,255,.2);
$white-40: rgba(255,255,255,.4);
$white-60: rgba(255,255,255,.6);
$white-80: rgba(255,255,255,.8);
$white-90: rgba(255,255,255,.9);
$white: #FFFFFF;
$black: #000000;
$grey-20: #CACCC9;
$grey-40: #979997;
$grey-60: #656664;
$grey-80: #323332;
$text-color: #444;
$header-text: #F7F9F7;
$footer-background: #5F6A73;
$header-background: #293239;
$background: #D4D9D3;
$map-background: #F7F9F7;
$background-accent: #A3A5A2; 
$error: #CC1700;
$states: #EDEFED;
$states-active: #E3E5E3;
$selected-link: #326E91;
$value-5: #00384F;
$value-4: #0F7199;
$value-3: #289DCC;
$value-2: #5BBEE5;
$value-1: #8ED3ED;

$niceRed: #D44837;