$white-20: rgba(255,255,255,.2);
$white-40: rgba(255,255,255,.4);
$white-60: rgba(255,255,255,.6);
$white-80: rgba(255,255,255,.8);
$white: #FFFFFF;
$black: #000000;
$text-color: #444;
$header-text: #F7F9F7;
$header-background: #293239;
$background: #D4D9D3;
$map-background: #F7F9F7;
$background-accent: #A3A5A2; 
$states: #EDEFED;
$states-active: #E2E3E3;
$value-5: #00384F;
$value-4: #0F7199;
$value-3: #289DCC;
$value-2: #5BBEE5;
$value-1: #BFE2EF;

$niceRed: #D44837;