@import "_colors";
@import "compass/css3/opacity";
@import "compass/css3/border-radius";
@import "compass/utilities/text/ellipsis";

header {
  background-color: $header-background;
  height: 70px;
  text-align: right;
  h1 {
    text-align: left;
    margin: 0 0 0 0.875em;
    line-height: 70px;
    color: $header-text;
  }
}
.header-container {
  display: none;
  vertical-align: bottom;
  height: 100%;
}
html, body, .content-container {
  height: 100%;
}
body, .content-container {
  background-color: $background;
}

.header-container .filter-link-container {
  height: 100%;
  margin-right: - 0.9375em;
  .filter-link {
    position: absolute;
    bottom: 1.5em;
    right: 0;
    font-size: 0.875em;
    font-weight: 300;
    background: $white-40;
    color: $white;
    @include opacity(.6);
    padding: 0.5em 2em;
    &:hover {
      color: $white;
    }
  }
}

.filter-container {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  margin-right: - 0.9375em;
  margin-left: 2em;
  background-color: $white-60;
  padding: 1.25em;
  display: none;
}

.map-container {
  .background {
    fill: $background;
    pointer-events: all;
  }
  .hospital-location {
    @include opacity(.7);
  }
  .hospital-location.active {
    @include opacity(1);
  }
  .hospital-location.inactive {
    @include opacity(.1);
  }
}

.data-container  {
  margin-right: - 0.9375em;
  margin-left: - 0.9375em;
  padding: 0;
  height: 42.188em;
  background-color: $white-40;
  overflow-y: scroll;
  
  .hospitals-container {
    padding: 1.25em 1.25em;
    h4 {
      color: $text-color;
    }
    li {
      list-style: none;
      margin: 0.625em 0 0 0;
      padding: 0;
      font-size: 0.875em;
      line-height: 1.2em;
    }
  }
  .hospital-container {
    display: none;
    h4 {
      margin: 0;
      padding: 0.625em 0.9375em;
      font-size: 21px;
      width: 100%;
      background-color: $background-accent;
      @include ellipsis();
    }
    h5 {
      display: inline-block;
      color: $text-color;
    }
    .address-container {
      padding: 1.25em 0 0.625em 0;
    }
    .ratings-container {
      .value {
        padding-left: 0.75em;
      }
      .label {
        width: 100%;
        text-align: center;
        font-weight: 300;
        background-color: transparent;
        color: $text-color;
      }
    }
    .rating {
      text-align: center;
      width: 60px;
      height: 60px;
      line-height: 60px;
      @include border-radius(60px)
    }
    .cost-rating,
    .quality-rating {
      background-color: $white-60;
      color: $background-accent;
    }
  }
}


#states {
  fill: $states;
  .active {
    fill: $states-active;
  }
}
#state-borders {
  fill: none;
  stroke: #D4D9D3;
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}
#value-slider,
#value-range {
  clear: both;
  div {
    float: left;
    width: 36px;
    height: 12px;
  }
}
#value-range {
  div {
    height: 8px;
  }
}
.value-5 {
  fill: $value-5;
  background-color: $value-5;
}
.value-4 {
  fill: $value-4;
  background-color: $value-4;
}
.value-3 {
  fill: $value-3;
  background-color: $value-3;
}
.value-2 {
  fill: $value-2;
  background-color: $value-2;
}
.value-1 {
  fill: $value-1;
  background-color: $value-1;
}
