extends layout
block header
  .row.header-container
    .large-12.columns.large-centered
      .row
        .large-8.columns
          h1 #{title}
        .large-4.columns 
          .instructions Click map to zoom in    
          .filter-link-container
            a.filter-link(href="#") FILTERS
      
   
block content
  .row.main-content
    .large-12.columns.large-centered
      .filter-container
        .row
          .large-12.columns
            #value-range
              .value-1
              .value-2
              .value-3
              .value-4
              .value-5
            #value-slider
              .value-1.active(data-value="1")
              .value-2.active(data-value="2")
              .value-3.active(data-value="3")
              .value-4.active(data-value="4")
              .value-5.active(data-value="5")
      .row.collapse
        .map-container.large-9.columns
          .row.nav
            .breadcrumb.large-12.columns
          .row
            .large-12.columns
              .result
                .hospital_map
        .data-container.large-3.columns
          .hospitals-container
            .result
          .hospital-container
            .result
                   
       .legend
         .row
           .large-6.columns 
             h6 Hospital Value
             .value-range
               .value-1
               .value-2
               .value-3
               .value-4
               .value-5
             .value-range-legend
               .caption 1
               .caption 2
               .caption 3
               .caption 4
               .caption 5
             .value-range-legend
               .caption-sub.best Best
               .caption-sub.worst Worst
           .large-3.columns 
           .large-3.columns
             
          
       
  #hospital-map-result

block scripts
  script(src="http://d3js.org/d3.v3.min.js")
  script(src="http://d3js.org/topojson.v1.min.js")
  script(src="http://d3js.org/queue.v1.min.js")
  script(src="/javascripts/map.js")
  script
    $(".filter-link").click(function() {
      var fadeTime = 500;
      if($(".filter-container").is(":visible")){
        $(".filter-container").slideUp(fadeTime);
        $(".filter-link").fadeTo(fadeTime,.6)
      }
      else {
        $(".filter-container").slideDown(fadeTime);
        $(".filter-link").fadeTo(fadeTime,.8)
      }
    });
    //$(".header-container").fadeIn(3000);
    $(".header-container").show();
    $(".hospitals-container .result").load('/hospitals/ALL');
    mapStates();
    mapHospitals('ALL');
    function hospitalsBack(usps_state) {
      var p1 = {}
      var url = '/hospitals/' + usps_state;
      if(usps_state !== 'ALL') {
        p1 = d3.select("#" + usps_state).datum()
      }
      mapClicked(p1)
      $(".hospitals-container .result").load(url);
        if( $(".hospital-container").is(":visible") ) {
          $(".hospital-container").fadeOut(100, function() {
            $(".hospitals-container").fadeIn(500)
          })
        }
              
      /*d3.select("#hospital-locations")
        .selectAll("path")
        .transition()
        .duration(800)
        .style("opacity", 1)*/
    } 
    
       
  
