extends layout
block header
  .row.header-container
    .large-12.columns.large-centered
      .row
        .large-8.columns
          h1 #{title}
        .large-4.columns 
          .instructions Click map to zoom in    
          .filter-link-container
            a.filter-link(href="#") FILTERS
      
   
block content
  .main-content.row.collapse
    .large-12.columns.large-centered
      .filter-container
        .filters.row.collapse
            .large-1.columns
            .large-3.columns
              h6 Value
              .caption Click to filter
              .filter-value-range
                include includes/value-range
            .large-2.columns  
              h6 State  
              include includes/state-dropdown 
            .large-7.columns 
      .row.collapse
        .map-container.large-9.columns
          .row.nav
            .breadcrumb.large-12.columns
          .row.collapse
            .large-12.columns
              .result
                .hospital_map
        .data-container.large-3.columns
          .hospitals-container
            .result
          .hospital-container
            .result
                   
       .legend
         .row
           .large-6.columns 
             h6 Hospital Value
             .value-range
               include includes/value-range
             .value-range-legend
               .caption 1
               .caption 2
               .caption 3
               .caption 4
               .caption 5
             .value-range-legend
               .caption-sub.worst Lowest
               .caption-sub.best Highest
           .large-3.columns 
           .large-3.columns
             
          
  #error
    .row
      .message.large-11.columns
      .large-1.columns.close.icon-close
      
  #tooltip
    .row
      .message.large-12.columns  Here is the tooltip message
      
  #modal
    .row
      .message
        h3 In 2011, Medicare spent a total of
        h1 1
        p.text on health care coverage for 48.7 million beneficiaries. This accounted for roughly 15 percent of the national budget and 21 percent of overall U.S. health care spending, according to the Congressional Budget Office. 
        
           
  #hospital-map-result

block footer
  .row.main-content
    .large-12.columns
        span &copy; 2103 R & S Collective

block scripts
  script(src="http://d3js.org/d3.v3.min.js")
  script(src="http://d3js.org/topojson.v1.min.js")
  script(src="http://d3js.org/queue.v1.min.js")
  script(src="/javascripts/map.js")
  script(src="/javascripts/client.js")
    
    
    