extends layout
block header
  .row.header-container
    .large-12.columns.large-centered
      .row
        .large-8.columns
          h1 #{title}
        .large-4.columns 
          .instructions Click map to zoom in    
          .filter-link-container
            a.filter-link(href="#") FILTERS
      
   
block content
  .main-content.row.collapse
    .large-12.columns.large-centered
      .filter-container
        .filters.row.collapse
            .large-1.columns
            .large-3.columns
              h6 Value
              .caption Click to filter
              .filter-value-range
                include includes/value-range
            .large-2.columns  
              h6 State  
              include includes/state-dropdown 
            .large-7.columns 
      .row.collapse
        .map-container.large-9.columns
          .row.nav
            .breadcrumb.large-12.columns
          .row.collapse
            .large-12.columns
              .result
                .hospital_map
        .data-container.large-3.columns
          .hospitals-container
            .result
          .hospital-container
            .result
                   
       .legend
         .row
           .large-6.columns 
             h6 Hospital Value
             .value-range
               include includes/value-range
             .value-range-legend
               .caption 1
               .caption 2
               .caption 3
               .caption 4
               .caption 5
             .value-range-legend
               .caption-sub.worst Lowest
               .caption-sub.best Highest
           .large-3.columns 
           .large-3.columns
             
          
  #error
    .row
      .message.large-11.columns
      .large-1.columns.close.icon-close
      
  #tooltip
    .row
      .message.large-12.columns  Here is the tooltip message
           
  #hospital-map-result

block footer
  .row.main-content
    .large-12.columns
        span &copy; 2103 R & S Collective

block scripts
  script(src="http://d3js.org/d3.v3.min.js")
  script(src="http://d3js.org/topojson.v1.min.js")
  script(src="http://d3js.org/queue.v1.min.js")
  script(src="/javascripts/map.js")
  script
    var filterValueRatings = ''
    var filterState = ''
    var defaultUspsState = 'ALL'
    var checkResize;
    
    mapStates(function() {
      $('.hospitals-container .result').load('/hospitals/ALL');
      mapHospitals(defaultUspsState);
      windowResized()
    });
    
    
    $("#error .close").click(function() {
      $("#error").hide();
    })
    $(".filter-link").click(function() {
      var fadeTime = 500;
      var slideTime = 800;
      if($(".filter-container").is(":visible")){
        $(".filter-container").slideUp(slideTime);
        $(".filter-link").fadeTo(fadeTime,.6)
      }
      else {
        $(".filter-container").slideDown(fadeTime);
        $(".filter-link").fadeTo(fadeTime,.8)
      }
    })
    $(".filter-value-range .value").click(function(){
      if(centered && centered.properties && centered.properties.value_rating != undefined){
        $("#error .message").text("We're sorry. Unfortunately, you can't filter on value when a single hospital is selected");
        $("#error").show();
        return;
      }
      var values = []
      var value = "" 
      filterState = filterState != "" ? filterState : defaultUspsState;
            
      $(this).toggleClass('active')
      $(this).parent().find(".active").each(function(){
        values.push($(this).data("int_value_rating"))
      })
      filterValueRatings = values.join(",");
      
      g.select("#hospital-locations")
       .selectAll("path")
       .style("opacity",.2);
      
      if(filterValueRatings != ""){
        value = "?int_value_rating=" + filterValueRatings;
      }
    
      var url = '/hospitals/'+ filterState + value;

      $.get(url, function(data){
        $(".hospitals-container .result").html(data);
      })
      
      mapHospitals(filterState + value);
    })
    $('.state-selector').change(function(){
      goToState($(this).val())
    })
    function goToState(usps_state) {
      var p1
      var url = '/hospitals/' + usps_state
      if(usps_state !== defaultUspsState) {
        p1 = d3.select("#" + usps_state).datum()
        $('.state-selector').val(usps_state);
        filterState = usps_state
      }
      else {
        $('.state-selector').val(defaultUspsState);
        filterState = defaultUspsState
      }
      mapClicked(p1)
      $(".hospitals-container .result").load(url);
    } 
    function windowResized(){
      var x = locX
      var y = locY
      var k = 1
      window_width = $(window).width();
      data_container_width = $(".data-container").width();
      map_width = window_width - data_container_width
      if(map_width <= default_width) {
        map_width = default_width;
      }
      if(centered) {
        var centroid = path.centroid(centered)
        x = centroid[0]
        y = centroid[1]
        k = 4
      }
      d3.select(".background").attr("width", map_width);
      d3.select(".hospital_map")
        .select("svg")
        .attr("width", map_width)

      g.transition()
       .duration(200)
       .attr("transform", "translate(" + map_width / 2 + "," + map_height / 2.5 + ")scale(" + k + ")translate(" + -x + "," + -y + ")")
    
    }
    $(window).resize(function() {
        clearTimeout(checkResize);
        var checkResize = setTimeout(function() {
          windowResized();
        }, 1000);
    });

    
       
  
