/* line 6, ../sass/main.scss */
header {
  background-color: #293239;
  height: 70px;
  text-align: right;
}
/* line 10, ../sass/main.scss */
header h1 {
  text-align: left;
  margin: 0 0 0 0.875em;
  line-height: 70px;
  color: #f7f9f7;
}

/* line 17, ../sass/main.scss */
.header-container {
  display: none;
  vertical-align: bottom;
  height: 100%;
}

/* line 22, ../sass/main.scss */
html, body, .content-container {
  height: 100%;
}

/* line 25, ../sass/main.scss */
body, .content-container {
  background-color: #d4d9d3;
}

/* line 29, ../sass/main.scss */
.header-container .filter-link-container {
  height: 100%;
  margin-right: -0.9375em;
}
/* line 32, ../sass/main.scss */
.header-container .filter-link-container .filter-link {
  position: absolute;
  bottom: 1.5em;
  right: 0;
  font-size: 0.875em;
  font-weight: 300;
  background: rgba(255, 255, 255, 0.4);
  color: white;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  padding: 0.5em 2em;
}
/* line 42, ../sass/main.scss */
.header-container .filter-link-container .filter-link:hover {
  color: white;
}

/* line 48, ../sass/main.scss */
.filter-container {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  margin-right: -0.9375em;
  margin-left: 2em;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 1.25em;
  display: none;
}

/* line 62, ../sass/main.scss */
.map-container .background {
  fill: #d4d9d3;
  pointer-events: all;
}
/* line 66, ../sass/main.scss */
.map-container .hospital-location {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
}
/* line 69, ../sass/main.scss */
.map-container .hospital-location.active {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}
/* line 72, ../sass/main.scss */
.map-container .hospital-location.inactive {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=10);
  opacity: 0.1;
}

/* line 77, ../sass/main.scss */
.data-container {
  margin-right: -0.9375em;
  margin-left: -0.9375em;
  padding: 0;
  height: 42.188em;
  background-color: rgba(255, 255, 255, 0.4);
  overflow-y: scroll;
}
/* line 85, ../sass/main.scss */
.data-container .hospitals-container {
  padding: 1.25em 1.25em;
}
/* line 87, ../sass/main.scss */
.data-container .hospitals-container h4 {
  color: #444444;
}
/* line 90, ../sass/main.scss */
.data-container .hospitals-container li {
  list-style: none;
  margin: 0.625em 0 0 0;
  padding: 0;
  font-size: 0.875em;
  line-height: 1.2em;
}
/* line 98, ../sass/main.scss */
.data-container .hospital-container {
  display: none;
}
/* line 100, ../sass/main.scss */
.data-container .hospital-container h4 {
  margin: 0;
  padding: 0.625em 0.9375em;
  font-size: 21px;
  width: 100%;
  background-color: #a3a5a2;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* line 108, ../sass/main.scss */
.data-container .hospital-container h5 {
  display: inline-block;
  color: #444444;
}
/* line 112, ../sass/main.scss */
.data-container .hospital-container .address-container {
  padding: 1.25em 0 0.625em 0;
}
/* line 116, ../sass/main.scss */
.data-container .hospital-container .ratings-container .value {
  padding-left: 0.75em;
}
/* line 119, ../sass/main.scss */
.data-container .hospital-container .ratings-container .label {
  width: 100%;
  text-align: center;
  font-weight: 300;
  background-color: transparent;
  color: #444444;
}
/* line 127, ../sass/main.scss */
.data-container .hospital-container .rating {
  text-align: center;
  width: 60px;
  height: 60px;
  line-height: 60px;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}
/* line 135, ../sass/main.scss */
.data-container .hospital-container .cost-rating,
.data-container .hospital-container .quality-rating {
  background-color: rgba(255, 255, 255, 0.6);
  color: #a3a5a2;
}

/* line 143, ../sass/main.scss */
#states {
  fill: #edefed;
}
/* line 145, ../sass/main.scss */
#states .active {
  fill: #e2e3e3;
}

/* line 149, ../sass/main.scss */
#state-borders {
  fill: none;
  stroke: #D4D9D3;
  stroke-width: 1px;
  stroke-linejoin: round;
  stroke-linecap: round;
  pointer-events: none;
}

/* line 158, ../sass/main.scss */
#value-slider,
#value-range {
  clear: both;
}
/* line 160, ../sass/main.scss */
#value-slider div,
#value-range div {
  float: left;
  width: 36px;
  height: 12px;
}

/* line 167, ../sass/main.scss */
#value-range div {
  height: 8px;
}

/* line 171, ../sass/main.scss */
.value-5 {
  fill: #00384f;
  background-color: #00384f;
}

/* line 175, ../sass/main.scss */
.value-4 {
  fill: #0f7199;
  background-color: #0f7199;
}

/* line 179, ../sass/main.scss */
.value-3 {
  fill: #289dcc;
  background-color: #289dcc;
}

/* line 183, ../sass/main.scss */
.value-2 {
  fill: #5bbee5;
  background-color: #5bbee5;
}

/* line 187, ../sass/main.scss */
.value-1 {
  fill: #bfe2ef;
  background-color: #bfe2ef;
}
